CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
CONFIG_PACKAGE_automount=y

# CONFIG_PKG_ASLR_PIE_REGULAR is not set
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y

# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_PKG_RELRO_FULL is not set
CONFIG_PKG_RELRO_NONE=y
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_STRIP_KERNEL_EXPORTS=y
# CONFIG_PACKAGE_dnsmasq_full_dnssec is not set
CONFIG_LUCI_SRCDIET=y